.icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.forRow {
    width: 1400px;
    height: 80px;
}

.forBack {
    background-color:
        rgba(42, 44, 123, 1);
    color: white;
}

.forImg {
    width: 44px;
    height: 44px;
    background-color: rgba(241, 228, 254, 1);
    ;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    height: 25px;
}

.pageNumber {
    width: 34px;
    height: 34px;
    border-radius: 8px;
    border: solid 1px;
    border-color:rgba(144, 131, 154, 1);
    text-align: center;
    align-items: center;
    padding-top: 5px;
}
.pageNumber:hover{
    background-color: rgba(149, 27, 217, 1);
}
.forPage{
    width: 1100px;
    height: 40x;
}